<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Nodix - Home</title>

    <!-- Add CSS -->
    <link href="../../resources/css/site.css" rel="stylesheet" type="text/css"> <!-- Nodix CSS -->
</head>
<body>

   <!-- Include an really basic svg image to give the impress to user than a 3d box appear from anywhere... Uuuuhh -->
   <svg id="svg3dBox" xmlns="http://www.w3.org/2000/svg" version="1.1" style="width: 100%; height: 100%;"></svg>

       <!--Should be include inside 3dsvgbox script and display by it with an container element given as param-->
    <button id="buttonStart3D" name="buttonStart3D" type="button">Start 3D !</button>
    <button id="buttonStop3D" name="buttonStop3D" type="button">Stop 3D !</button>
    <!--Should be include inside 3dsvgbox script and display by it with an container element given as param-->

   <!-- Add site.js at the of of the file, thereby the DOM can be processed
        before any script loading and be showed to the user really quickly -->
    <script src="../../resources/javascript/site.js" type="text/javascript"></script>

    <!--Application-->
    <script>
        // Pre-required
        if (typeof jQuery === 'undefined') {
            throw new Error('jQuery need to be define, sorry for the disagreement...');
        }
        jQuery(document).ready(function ($) {

            var svgContainer = $('#svg3dBox');
            var svgBox       = new ThreeDSvgBox(svgContainer);

            $('#buttonStart3D').on("click", function () {
                svgBox.start()
            });
            $('#buttonStop3D').on("click", function () {
                svgBox.stop()
            });

        })

    </script>
</body>
</html>
