
<div class="form-group-sm">
    <label class="col-sm-12 control-label">Attributes:</label>
</div>
<ul id="attributes-list" style="list-style-type: none" ng-show="classManager.attributes" ng-repeat="attribute in classManager.attributes">
    <li>{{attribute.toString()}}</li>
</ul>

<form name="attributeForm" class="form-horizontal" ng-submit="attributeCtrl.addAttribute(classManager)">
    <div class="form-group-sm">
        <label for="inputAttributeType" class="col-sm-1 control-label">Type:</label>
        <div class="col-sm-2">
            <select id="inputAttributeType" class="form-control" ng-model="attributeCtrl.attribute.state">
                <option>private</option>
                <option>public</option>
            </select>
        </div>

        <label for="inputAttributeName" class="col-sm-1 control-label">Name:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="inputAttributeName" value="myAttr" placeholder="myAttr" ng-model="attributeCtrl.attribute.name">
        </div>

        <label for="inputAttributeValue" class="col-sm-1 control-label">Value:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="inputAttributeValue" value="0" placeholder="0" ng-model="attributeCtrl.attribute.defaultValue">
        </div>
        <button id="add-attribute" type="submit" class="btn btn-default btn-sm">Add</button>
    </div>
</form>