<!--<div id="skeleton-class-list" class="col-md-1 full-height" ng-controller="ClassSkeletonController as classSkeletonCtrl">-->
<div id="skeleton-class-list" class="col-md-1 full-height">
    <h4>Design Pattern:</h4>
    <ul>
        <li ng-show="classSkeletonCtrl.classSkeletonList" ng-repeat="classSkeleton in classSkeletonCtrl.classSkeletonList">
            <div class="text-center" ng-click="dashboardCtrl.addSkeleton(classSkeleton)">
                <img class="full-width" src="{{classSkeleton.patternImageLink}}">
                {{classSkeleton.patternName}}
            </div>
        </li>
    </ul>
</div>