<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
    <meta charset="UTF-8">
    <title>UI Testing</title>

    <link href="../../resources/css/site.css" rel="stylesheet" type="text/css"> <!-- Nodix CSS -->
    <script src="../../resources/javascript/site.js" type="text/javascript"></script>

</head>
<body class="full-height">

  <script>
      var NODIX = NODIX || {
                REVISION: 2,
                debug: true,
                debugLevel: 'warning'
              };
      NODIX.ui = NODIX.ui || {};

      (function($){


        $(function () {

          // CHECK BUTTON
          var btn = $.fn.button.noConflict() // reverts $.fn.button to jqueryui btn

          var container = $('body');
          var dashboard = new NODIX.ui.Dashboard( container );

          $.fn.btn = btn // assigns bootstrap button functionality to $.fn.btn

        });

      })(jQuery);
  </script>

</body>
</html>
