.idea*
node_modules
/node_modules/
logs/
/logs/
documentation/
/documentation/
tests/
/tests/
tutorials/
/tutorials/
sandbox/
/sandbox/
resources/css/
resources/javascript/application*
resources/models/
resources/textures/

/utils/
/resources/applications/carl.js
/resources/applications/realworld.js
