.idea*
node_modules
/node_modules/
logs/
/logs/
documentation/
/documentation/
tutorials/
/tutorials/
sandbox/
/sandbox/

/utils/
/legacy/
/resources/audio/*
/resources/fonts/*
/resources/images/*
/resources/models/*
/resources/textures/*
/resources/views/legacy/
/sources/_core/_databases/_mongodb/schemas/
