doctype html
html(lang='en')

    head
        base(href='../')
        title Sigth 3D
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
        if env == "production"
            link(rel='stylesheet', type='text/css', href='../resources/styles/style.min.css')
        else
            link(rel='stylesheet', type='text/css', href='../resources/styles/style.css')
style.
    html,
    body {
        height: 100%;
        margin: 0
    }

    .box {
        display:   flex;
        flex-flow: column;
        height:    100%;
    }

    .box .rowRow {
        /*border: 1px dotted grey;*/
    }

    .box .rowRow.header {
        flex: 0 1 40px;
        /* The above is shorthand for:
        flex-grow: 0,
        flex-shrink: 1,
        flex-basis: auto
        */
    }

    .box .rowRow.content {
        flex: 1 1 auto;
    }

    .box .rowRow.footer {
        flex: 0 1 40px;
    }

    .modal-content {
        color:            white;
        background-color: black;
        border:           1px solid white;
    }

    .modal-dialog .btn {
        color:            white;
        background-color: black;
        border:           1px solid white;
        border-radius:    5px;
    }

    .modal-dialog .btn:hover {
        color:            black;
        background-color: white;
        border:           1px solid black;
        border-radius:    5px;
    }

body.no-overflow-y.box
    .rowRow.header
        nav#mainNavBar.navbar.navbar-inverse
            ul.nav.navbar-nav
                li
                    a(href='/', data-toggle='tooltip', title="Retourner à l'acceuil")
                        i.fa.fa-home
                li.vDivider(role='separator')
                li
                    a#importBtn(data-toggle='tooltip', title='Importer un fichier local')
                        i.fa.fa-cloud-download
                    input#importInput(type='file', style='display:none', multiple='')
                li
                    a(href='/uploads', data-toggle='tooltip', title='Télécharger un fichier sur le serveur')
                        i.fa.fa-cloud-upload
                li.vDivider(role='separator')
                li
                    a.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true', title='Outils de mesures')
                        i.fa.fa-crosshairs(aria-hidden='true')
                    ul#measureTools.vertical-dropdown-black.dropdown-menu
                        li
                            a(data-value='segment', aria-haspopup='true', aria-expanded='true', title='Distance entre un point A et un point B')
                                i.fa.fa-expand
                                | Segment
                        li
                            a(data-value='polyline', aria-haspopup='true', aria-expanded='true', title='Distances entre plusieurs points qui se suivent')
                                i.fa.fa-share-alt
                                | PolyLigne
                        li
                            a(data-value='polysegment', aria-haspopup='true', aria-expanded='true', title='Distances entre un point central et plusieurs points')
                                i.fa.fa-arrows-alt
                                | PolySegment
                        li.hDivider(role='separator')
                        li.disabled
                            a(data-value='disk', aria-haspopup='true', aria-expanded='true', title="Surface d'un disque")
                                i.fa.fa-circle-o
                                | Disque
                        li.disabled
                            a(data-value='square', aria-haspopup='true', aria-expanded='true', title="Surface d'un rectangle")
                                i.fa.fa-square-o
                                | Carré
                        li.disabled
                            a(data-value='polygone', aria-haspopup='true', aria-expanded='true', title="Surface d'un polygone")
                                i.fa.fa-star-o
                                | Polygone
                        li.hDivider(role='separator')
                        li.disabled
                            a(data-value='sphere', aria-haspopup='true', aria-expanded='true', title="Volume d'une sphère")
                                i.fa.fa-dribbble
                                | Sphère
                        li.disabled
                            a(data-value='cube', aria-haspopup='true', aria-expanded='true', title="Volume d'un cube")
                                i.fa.fa-codepen
                                | Cube
                        li.hDivider(role='separator')
                        li
                            a.danger(data-value='clear', aria-haspopup='true', aria-expanded='true', title='Effacer les mesures')
                                i.fa.fa-window-close-o
                                | Effacer
                li
                    a#xRayBtn.btn(data-toggle='button', title='Rayon X')
                        i.fa.fa-wifi
                li
                    a#splitBtn.btn(data-toggle='button', title='Outil de découpe')
                        i.fa.fa-scissors
                li
                    a#selectBtn.btn(data-toggle='button', title='Sélection')
                        i.fa.fa-hand-pointer-o
                li.vDivider(role='separator')
                li.dropdown(role='presentation')
                    a.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true', title='Contrôle de camera')
                        i.fa.fa-street-view
                    ul#cameraMode.vertical-dropdown-black.dropdown-menu
                        li
                            a(data-value='avatar')
                                i.fa.fa-arrow-circle-right(aria-hidden='true')
                                |  Avatar
                        li
                            a(data-value='orbital')
                                i.fa.fa-globe(aria-hidden='true')
                                |  Orbital
                li.dropdown(role='presentation')
                    a.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true', title='Effet de rendu 3D')
                        i.fa.fa-eye
                    ul#renderEffectDropDown.vertical-dropdown-black.dropdown-menu
                        li
                            a(data-value='normal')
                                i.fa.fa-eye
                                |  Normal
                        li
                            a(data-value='anaglyph')
                                span.glyphicon.glyphicon-sunglasses(aria-hidden='true')
                                |  Anaglyph
                        li
                            a(data-value='vr')
                                i.fa.fa-cubes(aria-hidden='true')
                                |  VR
                li.vDivider(role='separator')
                li
                    a#detailBtn.btn(title='Détails batiment')
                        i.fa.fa-pencil
                li
                    a#historyBtn.btn(title='Historique d\'intervention du batiment')
                        i.fa.fa-history
                li
                    a#createBtn.btn(title='Création d\'intervention du batiment')
                        i.fa.fa-flash

    #mainContainer.rowRow.content
        #treeViewContainer.treeView
            ul.children
        #webglViewportContainer.full-height.no-overflow
            #dataPanel
            input#spliterSliderControl(type='text', style='display: none;')

    //.rowRow.footer
        #footer

    #importFilesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Importer des fichiers
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    label(for='importInput') Selectionner les fichiers à importer
                    .file-loading
                        input#importInput(name='importInput', multiple='', type='file')
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#validateImportFilesModal.btn.btn-primary(type='button', title='Your custom upload logic') Save
    #selectedObjectModal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog.modal-md(role='document')
            .modal-content
                #selectedObjectHeader.modal-header
                    h4.modal-title Selection
                #selectedObjectContent.modal-body
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Fermer

    //script.
        var exampleSocket = new WebSocket( "ws://localhost:12345/web-socket/" );
        console.log(exampleSocket);
        exampleSocket.onopen = function ( event ) {
            console.log( event );
            exampleSocket.send( "Voici un texte que le serveur attend de recevoir dès que possible !" );
        };
        exampleSocket.onmessage = function ( event ) {
            console.log( event );
            console.log( event.data );
        }

    script(src='../resources/configs/config.' + config + '.js', type='application/javascript')
    script.
        var TUrlParameters = !{JSON.stringify( urlParams )} || {} // Todo: should use js-stringify in prod ?

    if env === "production"
        script(src='../resources/scripts/jquery.min.js', type='text/javascript')
        script(src='../resources/scripts/bootstrap.min.js', type='text/javascript')
        script(src='../resources/scripts/bootstrap-slider.min.js', type='text/javascript')
        script(src='../resources/scripts/inflate.min.js', type='text/javascript')
        script(src='../resources/application/itee-app.iife.min.js', type='text/javascript')
    else
        //script(src='../resources/scripts/jquery.js', type='text/javascript')
        script(src='../resources/scripts/bootstrap.js', type='text/javascript')
        script(src='../resources/scripts/bootstrap-slider.js', type='text/javascript')
        script(src='../resources/scripts/inflate.min.js', type='text/javascript')
        script(src='../resources/application/itee-app.iife.js', type='text/javascript')
