doctype html
html(lang='en')

    head
        base(href='../')
        title Itee
        meta(charset='utf-8')

        if env == "production"
            link(rel='stylesheet', type='text/css', href='../resources/styles/style.min.css')
        else
            link(rel='stylesheet', type='text/css', href='../resources/styles/style.css')

        style.
            html {
                height: 100%;
            }

            body {
                height:  100%;
                margin:  0;
                padding: 0;
            }

            t-header {
                position:   relative;
                z-index:    3;
                /*box-shadow: 0px -7px 10px 7px rgb(0, 0, 0);*/
            }

            t-header .tAppBar {
                position:         relative;
                z-index:          3;
                background-color: rgb(100, 100, 100);
                box-shadow:       0px -7px 10px 7px rgb(0, 0, 0);
                border-bottom:    1px solid rgb(75, 75, 75);
                height:           60px;
                color:            white;
            }

            t-header .tToolBar {
                position:         relative;
                z-index:          2;
                background-color: rgb(50, 50, 50);
                /*box-shadow:       0px -7px 10px 7px rgb(0, 0, 0);*/
                /*border-bottom:    1px solid rgb(38, 38, 38);*/
                font-size:        2.0em;
                color:            #efefef;
            }

            t-content {
                background-color: rgb(35, 35, 35);
                color:            rgb(200, 200, 200);
            }

            t-footer .tStatusBar {
                background-color: rgb(50, 50, 50);
               /*borderTop:       1px solid rgb(30, 30, 30);*/
            }

            /* DIALOG */

            .dialog {
                box-shadow: 4px 4px 7px 1px;
            }

            .dialog .header {
                padding:          5px;
                color:            white;
                font-size:        1.6em;
                background-color: rgb(50, 50, 50);
            }

            .dialog .content .fa {
                font-size: 16em;
            }

            .dialog.login-dialog .footer button {
                flex-basis: 100%;
            }

            /* DROPDOWN */

            /*.dropdown-content {*/
            /*display: none;*/
            /*}*/

            .tMenuItem:hover {
                border-bottom: 1px solid #4eaeff;
            }

            .dropdown-content {
                background-color: #323232f2;
                box-shadow:       2px 2px 2px 0px rgba(0, 0, 0, 0.2);
                border-top:       1px solid #4eaeff;
            }

            .dropdown-content a {
                color:           white;
                padding:         12px 16px;
                text-decoration: none;
                display:         block;
                text-align:      left;
            }

            .dropdown-content a:hover {
                background-color: rgba(150, 150, 150, 1);
            }

            /* SEPARATOR */
            .tSplit {
                border: 1px inset rgb(65, 65, 65);
            }

            .tLeftSplit {
                border-left: none;
            }

            .tRightSplit {
                border-right: none;
            }

            .tSplitterSeparator {
                width:            3px;
                background-color: rgb(50, 50, 50);
            /*border-left:      1px outset rgb(50, 50, 50);*/
            /*border-right:     1px outset rgb(50, 50, 50);*/
            }

            /* Tree */
            .tTreeItem,
            .tTreeItem * {
                padding:    0;
            margin:     0;
            list-style: none;
            }

            .tTreeItem label[for]::before,
            .tTreeItem label span::before {
                content:        "\25b6";
                display:        inline-block;
                margin:         2px 0 0;
                width:          13px;
                height:         13px;
                vertical-align: top;
                text-align:     center;
            /*color:          #e74c3c;*/
                font-size:      8px;
                line-height:    13px;
            }

            .tTreeItem li ul {
                margin: 0 0 0 22px;
            }

            .tTreeItem * {
                vertical-align: middle;
            }

            .tTreeItem {
                font: normal 11px/16px "Segoe UI", Arial, Sans-serif;
            }

            .tTreeItem li {
                -webkit-user-select: none;
                -moz-user-select:    none;
                user-select:         none;
            }

            .tTreeItem input[type="checkbox"] {
                display: none;
            }

            .tTreeItem label {
                cursor: pointer;
            }

            .tTreeItem label[for]::before {
                -webkit-transform: translatex(-24px);
                -moz-transform:    translatex(-24px);
                -ms-transform:     translatex(-24px);
                -o-transform:      translatex(-24px);
                transform:         translatex(-24px);
            }

            .tTreeItem label span::before {
                -webkit-transform: translatex(16px);
                -moz-transform:    translatex(16px);
                -ms-transform:     translatex(16px);
                -o-transform:      translatex(16px);
                transform:         translatex(16px);
            }

            .tTreeItem input[type="checkbox"][id]:checked ~ label[for]::before {
                content: "\25bc";
            }

            .tTreeItem input[type="checkbox"][id]:not(:checked) ~ ul {
                display: none;
            }

            .tTreeItem label:not([for]) {
                margin: 0 8px 0 0;
            }

            .tTreeItem label span::before {
                content: "";
            border:  solid 1px white;
            color:   white;
            opacity: .50;
            }

            .tTreeItem label input:checked + span::before {
                content:    "\2714";
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.25) inset;
            opacity:    1;
            }

            /* Palette */
            /* CSS - Cascading Style Sheet */
            /* Palette color codes */
            /* Palette URL: http://paletton.com/#uid=23x0I0kl2lDhZ2F2ymTONTbT5tV */

            /* Feel free to copy&paste color codes to your application */

            /* As hex codes */

            .color-primary-0 { color: #2b516f }

            /* Main Primary color */
            .color-primary-1 { color: #060b0e }

            .color-primary-2 { color: #6d7275 }

            .color-primary-3 { color: #0686e9 }

            .color-primary-4 { color: #025899 }

            .color-complement-0 { color: #ac7c3b }

            /* Main Complement color */
            .color-complement-1 { color: #151009 }

            .color-complement-2 { color: #b6b0a8 }

            .color-complement-3 { color: #ff9200 }

            .color-complement-4 { color: #ee8800 }

            /* As RGBa codes */

            .rgba-primary-0 { color: rgba(43, 81, 111, 1) }

            /* Main Primary color */
            .rgba-primary-1 { color: rgba(6, 11, 14, 1) }

            .rgba-primary-2 { color: rgba(109, 114, 117, 1) }

            .rgba-primary-3 { color: rgba(6, 134, 233, 1) }

            .rgba-primary-4 { color: rgba(2, 88, 153, 1) }

            .rgba-complement-0 { color: rgba(172, 124, 59, 1) }

            /* Main Complement color */
            .rgba-complement-1 { color: rgba(21, 16, 9, 1) }

            .rgba-complement-2 { color: rgba(182, 176, 168, 1) }

            .rgba-complement-3 { color: rgba(255, 146, 0, 1) }

            .rgba-complement-4 { color: rgba(238, 136, 0, 1) }

            /* Generated by Paletton.com © 2002-2014 */
            /* http://paletton.com */

            /*// LOGIN BUTTON*/

            /* The switch - the box around the slider */
            .switch {
            position: relative;
            display:  inline-block;
            width:    60px;
            height:   34px;
            }

            /* Hide default HTML checkbox */
            .switch input { display: none; }

            /* The slider */
            .slider {
            position:           absolute;
            cursor:             pointer;
            top:                0;
            left:               0;
            right:              0;
            bottom:             0;
            background-color:   #cccccc;
            -webkit-transition: .4s;
            transition:         .4s;
            }

            .slider:before {
            position:           absolute;
            content:            "";
            height:             26px;
            width:              26px;
            left:               4px;
            bottom:             4px;
            background-color:   white;
            -webkit-transition: .4s;
            transition:         .4s;
            }

            input:checked + .slider {
            background-color: #2196f3;
            }

            input:focus + .slider {
            box-shadow: 0 0 1px #2196f3;
            }

            input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform:     translateX(26px);
            transform:         translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
            border-radius: 34px;
            }

            .slider.round:before {
            border-radius: 50%;
            }

    body
        itee-application-root

    //script(src='../resources/configs/config.' + config + '.js', type='application/javascript')
    script.
        var URLParameters = { urlQuery: !{JSON.stringify( urlParams )} } || {} // Todo: use js-stringify in prod

    script(src='../resources/application/itee-app.iife.js', type='text/javascript')
