<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<title>Téléversements</title>

		<link rel="stylesheet" type="text/css" href="../resources/css/style.css">
		<style type="text/css">
			/* layout.css Style */
			.upload-drop-zone {
				height:        200px;
				border-width:  2px;
				margin-bottom: 20px;
			}

			/* skin.css Style*/
			.upload-drop-zone {
				color:        #cccccc;
				border-style: dashed;
				border-color: #cccccc;
				line-height:  200px;
				text-align:   center
			}

			.upload-drop-zone.drop {
				color:        #222222;
				border-color: #222222;
			}

			.inline-progress {
				margin: 0;
			}

			.align-center {
				text-align: center;
			}

			.label {
				float:        left;
				margin-right: 10px;
				color:        black;
				font-weight:  bold;
				font-size:    inherit;
			}

			.message {
				display: inline-block;
			}
		</style>

	</head>
	<body>

		<nav id="mainNavBar" class="navbar navbar-inverse">
			<ul class="nav navbar-nav">
				<li>
					<a href="/" data-toggle="tooltip" title="Retourner à l'acceuil">
						<i class="fa fa-home"></i>
					</a>
				</li>
			</ul>
		</nav>

		<div class="container">
			<div class="panel panel-default" style="margin-top: 20px">
				<div class="panel-heading"><strong>Téléversements</strong></div>
				<div class="panel-body">

					<!-- Company Form -->
					<h4>Selectionner la compagnie</h4>
					<form action="" method="post" enctype="multipart/form-data" id="js-company-form">
						<div class="form-group">
							<label for="company-name-select">Select</label>
							<select class="form-control" id="company-name-select"></select>
						</div>
						<div class="form-group">
							<label>Create new company</label>
							<div class="input-group">
								<input id="company-name-input" type="text" class="form-control" placeholder="Company name...">
								<span class="input-group-btn">
									<button id="company-add-button" class="btn btn-secondary" type="button">Add</button>
								</span>
							</div>
						</div>
					</form>

					<!-- Site Form -->
					<h4>Selectionner le site</h4>
					<form action="" method="post" enctype="multipart/form-data" id="js-site-form">
						<div class="form-group">
							<label for="site-name-select">Select</label>
							<select class="form-control" id="site-name-select"></select>
						</div>
						<div class="form-group">
							<label>Create new site</label>
							<div class="input-group">
								<input id="site-name-input" type="text" class="form-control" placeholder="Site name...">
								<span class="input-group-btn">
									<button id="site-add-button" class="btn btn-secondary" type="button">Add</button>
								</span>
							</div>
						</div>
					</form>

					<!-- Bulding Form -->
					<h4>Selectionner le batiment à qui créditer les fichiers</h4>
					<form action="" method="post" enctype="multipart/form-data" id="js-building-form">
						<div class="form-group">
							<label for="building-name-select">Select</label>
							<select class="form-control" id="building-name-select"></select>
						</div>
						<div class="form-group">
							<label>Create new building</label>
							<div class="input-group">
								<input id="building-name-input" type="text" class="form-control" placeholder="Building name...">
								<span class="input-group-btn">
									<button id="building-add-button" class="btn btn-secondary" type="button">Add</button>
								</span>
							</div>
						</div>
					</form>

					<!-- Files Form -->
					<h4>Selectionner les fichiers depuis votre ordinateur</h4>
					<form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
						<div class="form-inline">
							<div class="form-group">
								<input type="file" name="files[]" id="js-upload-files" multiple>
							</div>
							<button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Téléverser</button>
						</div>
					</form>

					<!-- Drop Zone -->
					<h4>Ou glissez-déposez les fichiers ci-dessous</h4>
					<div class="upload-drop-zone" id="drop-zone">
						Ajouter les fichiers ici
					</div>

					<!-- Upload Finished -->
					<div class="js-upload-finished">

						<h3>Fichier traités</h3>
						<ul id="files-list" class="list-group"></ul>

					</div>
				</div>
			</div>
		</div> <!-- /container -->

		<script src="../resources/javascript/jquery.min.js"></script>

		<script type="application/javascript">

            (function ( $ ) {
                'use strict';

                function BuildingsManager ( parent ) {

                    const self     = this
                    this.select    = document.getElementById( 'building-name-select' )
                    this.input     = document.getElementById( 'building-name-input' )
                    this.addButton = document.getElementById( 'building-add-button' )

                    this.parent = parent

                    this.create = function create () {

                        const parentId       = self.parent.select.value
                        const name           = self.input.value
                        let request          = new XMLHttpRequest()
                        request.responseType = 'json'

                        request.onload = function ( onLoadEvent ) {

                            const data = onLoadEvent.target.response
                            if ( !data ) { return }

                            self.updateView( data )
                            self.updateParent( parentId )

                        }

                        request.open( 'PUT', '/buildings' )
                        request.setRequestHeader( "Content-Type", "application/json" )
                        request.send( JSON.stringify( {
                            name: name,
                            site: parentId
                        } ) )

                        self.input.value = ''

                    }

                    this.read = function read ( ids ) {

                        let request          = new XMLHttpRequest()
                        request.responseType = 'json'

                        request.onload = function ( onLoadEvent ) {

                            const datas = onLoadEvent.target.response
                            if ( datas ) { populateSelect( self.select, datas ) }

                        }

                        request.open( 'POST', '/buildings' )
                        request.setRequestHeader( "Content-Type", "application/json" )

                        request.send( JSON.stringify( ids ) )

                    }

                    this.readOne = function readOne () {

                        const id             = self.select.value
                        let request          = new XMLHttpRequest()
                        request.responseType = 'json'

                        request.onload = function ( onLoadEvent ) {

                            const datas = onLoadEvent.target.response
                            if ( !datas ) { return }

                        }

                        request.open( 'POST', '/buildings/' + id )
                        request.setRequestHeader( "Content-Type", "application/json" )

                        request.send()

                    }

                    this.update = function update ( id, data ) {

                        let request          = new XMLHttpRequest()
                        request.responseType = 'json'

                        request.onload = function onLoad ( onLoadEvent ) {

                            console.log( onLoadEvent.target.response )

                        }

                        request.open( 'PATCH', '/buildings/' + id )
                        request.setRequestHeader( "Content-Type", "application/json" )

                        request.send( JSON.stringify( {
                            buildings: data
                        } ) )

                    }

                    this.delete = function () {}

                    //
                    this.updateParent = function updateParent ( parentId ) {

                        var childrenIds = []
                        var options     = self.select.childNodes
                        var option      = undefined
                        for ( var optionIndex = 0, numberOfOptions = options.length ; optionIndex < numberOfOptions ; optionIndex++ ) {
                            option = options[ optionIndex ]
                            childrenIds.push( option.value )
                        }

                        self.parent.update( parentId, childrenIds )

                    }

                    this.updateView = function updateView ( data ) {

                        addOption( self.select, createOption( data ) )
                        selectItemByValue( self.select, data._id )

                    }

                    // events
                    this.select.onchange   = this.readOne
                    this.addButton.onclick = this.create

                }

                function SitesManager ( parent ) {

                    const self     = this
                    this.select    = document.getElementById( 'site-name-select' )
                    this.input     = document.getElementById( 'site-name-input' )
                    this.addButton = document.getElementById( 'site-add-button' )

                    this.parent          = parent
                    this.childrenManager = new BuildingsManager( this )

                    this.create = function create () {

                        const parentId       = self.parent.select.value
                        const name           = self.input.value
                        let request          = new XMLHttpRequest()
                        request.responseType = 'json'

                        request.onload = function ( onLoadEvent ) {

                            const data = onLoadEvent.target.response
                            if ( !data ) { return }

                            self.updateView( data )
                            self.updateParent( parentId )
                            self.updateChildren( data.buildings )

                        }

                        request.open( 'PUT', '/sites' )
                        request.setRequestHeader( "Content-Type", "application/json" )
                        request.send( JSON.stringify( {
                            name:    name,
                            company: parentId
                        } ) )

                        self.input.value = ''

                    }

                    this.read = function read ( ids ) {

                        let request          = new XMLHttpRequest()
                        request.responseType = 'json'

                        request.onload = function ( onLoadEvent ) {

                            const datas = onLoadEvent.target.response
                            if ( datas ) { populateSelect( self.select, datas ) }

                            self.updateChildren( datas[ 0 ].buildings )

                        }

                        request.open( 'POST', '/sites' )
                        request.setRequestHeader( "Content-Type", "application/json" )

                        request.send( JSON.stringify( ids ) )

                    }

                    this.readOne = function readOne () {

                        const id             = self.select.value
                        let request          = new XMLHttpRequest()
                        request.responseType = 'json'

                        request.onload = function ( onLoadEvent ) {

                            const datas = onLoadEvent.target.response
                            if ( !datas ) { return }

                            self.updateChildren( datas[ 0 ].buildings )

                        }

                        request.open( 'POST', '/sites/' + id )
                        request.setRequestHeader( "Content-Type", "application/json" )

                        request.send()

                    }

                    this.update = function update ( id, data ) {

                        let request          = new XMLHttpRequest()
                        request.responseType = 'json'

                        request.onload = function onLoad ( onLoadEvent ) {

                            console.log( onLoadEvent.target.response )

                        }

                        request.open( 'PATCH', '/sites/' + id )
                        request.setRequestHeader( "Content-Type", "application/json" )

                        request.send( JSON.stringify( {
                            buildings: data
                        } ) )

                    }

                    this.delete = function () {}

                    //
                    this.updateParent = function updateParent ( parentId ) {

                        var childrenIds = []
                        var options     = self.select.childNodes
                        var option      = undefined
                        for ( var optionIndex = 0, numberOfOptions = options.length ; optionIndex < numberOfOptions ; optionIndex++ ) {
                            option = options[ optionIndex ]
                            childrenIds.push( option.value )
                        }

                        self.parent.update( parentId, childrenIds )

                    }

                    this.updateChildren = function updateChildren ( childrenIds ) {

                        if ( childrenIds && (Array.isArray( childrenIds ) && childrenIds.length > 0) ) {
                            self.childrenManager.read( childrenIds )
                        } else {
                            self.childrenManager.select.innerHTML = ''
                        }

                    }

                    this.updateView = function updateView ( data ) {

                        addOption( self.select, createOption( data ) )
                        selectItemByValue( self.select, data._id )

                    }

                    // events
                    this.select.onchange   = this.readOne
                    this.addButton.onclick = this.create

                }

                function CompaniesManager () {

                    const self     = this
                    this.select    = document.getElementById( 'company-name-select' )
                    this.input     = document.getElementById( 'company-name-input' )
                    this.addButton = document.getElementById( 'company-add-button' )

                    this.sitesManager = new SitesManager( this )

                    this.create = function create () {

                        const companyName    = self.input.value
                        let request          = new XMLHttpRequest()
                        request.responseType = 'json'

                        request.onload = function ( onLoadEvent ) {

                            const datas = onLoadEvent.target.response
                            if ( !datas ) { return }

                            addOption( self.select, createOption( datas ) )
                            selectItemByValue( self.select, datas._id )

                            // Update sites select
                            const sitesIds = datas.sites
                            if ( sitesIds && (Array.isArray( sitesIds ) && sitesIds.length > 0) ) {
                                self.sitesManager.read( sitesIds )
                            } else {
                                self.sitesManager.select.innerHTML = ''
                            }

                        }

                        request.open( 'PUT', '/companies' )
                        request.setRequestHeader( "Content-Type", "application/json" )
                        request.send( JSON.stringify( { name: companyName } ) )

                        self.input.value = ''

                    }

                    this.read = function read ( ids ) {

                        let request          = new XMLHttpRequest()
                        request.responseType = 'json'

                        request.onload = function ( onLoadEvent ) {

                            const datas = onLoadEvent.target.response
                            if ( !datas ) { return }

                            // Update select
                            populateSelect( self.select, datas )

                            // Update sites select
                            const sitesIds = datas[ 0 ].sites
                            if ( sitesIds && (Array.isArray( sitesIds ) && sitesIds.length > 0) ) {
                                self.sitesManager.read( sitesIds )
                            } else {
                                self.sitesManager.select.innerHTML = ''
                            }

                        }

                        request.open( 'POST', '/companies' )
                        request.setRequestHeader( "Content-Type", "application/json" )

                        request.send( ids )

                    }

                    this.readOne = function readOne () {

                        const id             = self.select.value
                        let request          = new XMLHttpRequest()
                        request.responseType = 'json'

                        request.onload = function ( onLoadEvent ) {

                            const datas = onLoadEvent.target.response
                            if ( !datas ) { return }

                            const sitesIds = datas[ 0 ].sites
                            if ( sitesIds && (Array.isArray( sitesIds ) && sitesIds.length > 0) ) {
                                self.sitesManager.read( sitesIds )
                            } else {
                                self.sitesManager.select.innerHTML = ''
                            }

                        }

                        request.open( 'POST', '/companies/' + id )
                        request.setRequestHeader( "Content-Type", "application/json" )

                        request.send()

                    }

                    this.update = function update ( id, data ) {

                        let request          = new XMLHttpRequest()
                        request.responseType = 'json'

                        request.onload = function onLoad ( onLoadEvent ) {

                            console.log( onLoadEvent.target.response )

                        }

                        request.open( 'PATCH', '/companies/' + id )
                        request.setRequestHeader( "Content-Type", "application/json" )

                        request.send( JSON.stringify( {
                            sites: data
                        } ) )

                    }

                    this.delete = function () {}

                    // events
                    this.select.onchange   = this.readOne
                    this.addButton.onclick = this.create

                }

                function populateSelect ( select, datas ) {

                    select.innerHTML = ''

                    if ( Array.isArray( datas ) ) {

                        var data = undefined
                        for ( var dataIndex = datas.length - 1 ; dataIndex >= 0 ; dataIndex-- ) {

                            data = datas[ dataIndex ]

                            addOption( select, createOption( data ) )
                            selectItemByValue( select, data._id )

                        }

                    } else {

                        addOption( select, createOption( datas ) )
                        selectItemByValue( select, datas._id )

                    }

                }

                function addOption ( select, option ) {
                    select.appendChild( option )
                }

                function createOption ( data ) {

                    let option         = document.createElement( 'option' )
                    option.value       = data._id
                    option.textContent = data.name

                    return option

                }

                function selectItemByValue ( select, optionValue ) {

                    for ( var i = 0 ; i < select.options.length ; i++ ) {
                        if ( select.options[ i ].value === optionValue ) {
                            select.selectedIndex = i;
                            break;
                        }
                    }
                }

                // UPLOAD CLASS DEFINITION
                // ======================
                let companiesManager = new CompaniesManager()

                const dropZone   = document.getElementById( 'drop-zone' );
                const uploadForm = document.getElementById( 'js-upload-form' );
                const filesInput = document.getElementById( 'js-upload-files' );
                const filesList  = document.getElementById( 'files-list' );

                function upload ( data, methods, route, view ) {

                    const request              = new XMLHttpRequest()
                    request.onreadystatechange = onReadyStateChange
                    request.upload.addEventListener( 'progress', onProgress, false )
                    request.onload  = onLoad
                    request.onerror = onError

                    request.open( methods, route )
                    request.send( data )

                    function onReadyStateChange () {

                        if ( request.readyState === 4 ) {

                            var response = getRequestResponse( request )

                            if ( request.status === 200 ) {

                                view.setSuccess( response )

                            } else {

                                view.setError( response )

                            }

                        }

                    }

                    function onProgress ( progressEvent ) {

                        var progressValue = Math.ceil( (progressEvent.loaded / progressEvent.total ) * 100 ) + '%';
                        view.setProgress( progressValue )

                    }

                    function onLoad ( loadEvent ) {

                        console.log( loadEvent );

                    }

                    function onError ( errorEvent ) {

                        view.setError( "Une erreur " + errorEvent.target.status + " s'est produite au cours de la réception du document." )

                    }

                    function getRequestResponse ( request ) {

                        var responses = ( request.response ) ? JSON.parse( request.response ) : {}
                        var response  = undefined
                        var message   = ""

                        for ( var field in responses ) {

                            if ( responses.hasOwnProperty( field ) ) {

                                response = responses[ field ]

                                message += response.title + ': ' + response.message + '\n'

                            }

                        }

                        return message

                    }

                }

                function startUpload ( files ) {

                    if ( files.length === 0 ) {
                        return;
                    }

                    files = convertFilesObjectToArray( files )

                    let view = undefined
                    let file = undefined
                    for ( var fileIndex = files.length - 1 ; fileIndex >= 0 ; fileIndex-- ) {

                        file = files.splice( fileIndex )[ 0 ]

                        if ( !file ) { continue }

                        view = createViewForFileUpload()

                        // if file is associative search for the other else if not found set view in pending mode
                        var fileName      = file.name
                        var fileExtension = getFileExtention( fileName )

                        if ( fileExtension === null ) {

                            view.setLabel( fileName )
                            view.setError( 'Mauvaise extension de fichier: Les fichier sans extension ne sont pas géré !' )

                        } else if ( fileExtension === 'obj' || fileExtension === 'mtl' ) {

                            var associateExtension = ( fileExtension === 'obj' ) ? 'mtl' : 'obj'
                            view.setLabel( fileName + '/' + associateExtension )

                            var associateFileName = fileName.split( '.' )[ 0 ] + '.' + associateExtension
                            var associatedFile    = searchFileWithName( associateFileName, files )

                            if ( !associatedFile ) {

                                //						view.setWarning( 'Impossible de trouver le fichier ' + associateFileName + ' à associer...' )
                                //						continue

                                console.warn( 'Impossible de trouver le fichier ' + associateFileName + ' à associer...' );

                                upload( convertFileToFormData( file ), 'POST', '../uploads', view )

                            } else {

                                upload( convertFilesToFormData( [ file, associatedFile ] ), 'POST', '../uploads', view )

                            }

                        } else {

                            // Single file
                            view.setLabel( fileName )
                            upload( convertFileToFormData( file ), 'POST', '../uploads', view )

                        }

                    }

                }

                function convertFilesObjectToArray ( files ) {

                    var fileArray = []

                    for ( var field in files ) {

                        if ( files.hasOwnProperty( field ) ) {

                            fileArray.push( files[ field ] )

                        }

                    }

                    return fileArray

                }

                function convertFilesToFormData ( files ) {

                    let data = new FormData()
                    data.append( 'buildingId', document.getElementById( 'building-name-select' ).value )

                    let file = undefined
                    for ( let fileIndex = 0, numberOfFiles = files.length ; fileIndex < numberOfFiles ; fileIndex++ ) {
                        file = files[ fileIndex ]
                        data.append( file.name, file )
                    }

                    return data
                }

                function convertFileToFormData ( file ) {

                    let data = new FormData()
                    data.append( 'buildingId', document.getElementById( 'building-name-select' ).value )
                    data.append( 'fileSize', file.size )
                    data.append( file.name, file )

                    return data
                }

                function getFileExtention ( fileName ) {

                    const splitName      = fileName.split( '.' )
                    const numberOfSplits = splitName.length

                    return ( numberOfSplits >= 2 ) ? splitName[ numberOfSplits - 1 ] : null

                }

                function searchFileWithName ( fileName, files ) {

                    let file = undefined

                    const indexOfFile = files.findIndex( function ( file ) {

                        return file.name === fileName

                    } )

                    if ( indexOfFile > -1 ) {
                        file = files.splice( indexOfFile, 1 )[ 0 ]
                    }

                    return file

                }

                function createViewForFileUpload () {

                    const _TEMPLATE = '' +
                        '<li class="list-group-item align-center">' +
                        '	<span class="label"></span>' +
                        '	<span class="message"></span>' +
                        '	<div class="progress inline-progress">' +
                        '		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%">0%</div>' +
                        '	</div>' +
                        '	<span class="badge"></span>' +
                        '</li>';

                    const template    = $( _TEMPLATE );
                    const label       = template.children( '.label' )
                    const message     = template.children( '.message' )
                    const progress    = template.children( '.progress' )
                    const progressBar = progress.children( '.progress-bar' )
                    const badge       = template.children( '.badge' )

                    message.hide();
                    badge.hide();

                    filesList.appendChild( template[ 0 ] );

                    return {
                        _:           template,
                        label:       label,
                        message:     message,
                        progress:    progress,
                        progressBar: progressBar,
                        badge:       badge,
                        setLabel ( labelValue ) {

                            this.label.text( labelValue )

                        },
                        setProgress ( progressValue ) {

                            this.progressBar[ 0 ].style.width = progressValue
                            this.progressBar[ 0 ].textContent = progressValue

                        },
                        setSuccess ( message ) {

                            this._.addClass( "list-group-item-success" )
                            this.progress.hide()
                            this.message.text( message )
                            this.message.show()
                            this.badge.text( "Succès" )
                            this.badge.addClass( "alert-success" )
                            this.badge.show()

                        },
                        setWarning ( message ) {

                            this._.addClass( "list-group-item-warning" )
                            this.progress.hide()
                            this.message.text( message )
                            this.message.show()
                            this.badge.text( "Attention" )
                            this.badge.addClass( "alert-warning" )
                            this.badge.show()

                        },
                        setError ( message ) {

                            this._.addClass( "list-group-item-danger" )
                            this.progress.hide()
                            this.message.text( message )
                            this.message.show()
                            this.badge.text( "Erreur" )
                            this.badge.addClass( "alert-danger" )
                            this.badge.show()

                        }
                    }
                }

                uploadForm.addEventListener( 'submit', function ( e ) {

                    e.preventDefault()

                    startUpload( filesInput.files )

                } )

                dropZone.ondrop = function ( dropEvent ) {

                    dropEvent.preventDefault();

                    this.className = 'upload-drop-zone';

                    startUpload( dropEvent.dataTransfer.files )

                }

                dropZone.ondragover = function () {

                    this.className = 'upload-drop-zone drop';
                    return false;

                }

                dropZone.ondragleave = function () {

                    this.className = 'upload-drop-zone';
                    return false;

                }

                // Start
                companiesManager.read()

            })( jQuery );
		</script>

	</body>
</html>
