<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>


    <div id="loader">

        <audio preload="auto" id="son">
            <source src="audio/OpenDoor.mp3" type="audio/mp3">
            <source src="audio/OpenDoor.ogg" type="audio/ogg">
        </audio>

        <div id="top-door">
            <div id="loading-bar-outer">
                <div id="loading-bar-inner"></div>
            </div>
        </div>

        <div id="bottom-door">
            <div id="loadInProgress"><p>Load in progress...</p></div>
        </div>

    </div>

</body>
</html>
